<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <title>BlisstributeTwigToolkit</title>
        <style>
            iframe {
                height: 100%;
                border: 0;
                width: 100%;
            }
            .bg-dark {
                background-color: #323639 !important
            }
            .input-group>.input-group-prepend>.input-group-text {
                min-width: 116px;
            }
            .form-control::-webkit-input-placeholder { color: #c8c8c8; }  /* WebKit, Blink, Edge */
            .form-control:-moz-placeholder { color: #c8c8c8; }  /* Mozilla Firefox 4 to 18 */
            .form-control::-moz-placeholder { color: #c8c8c8; }  /* Mozilla Firefox 19+ */
            .form-control:-ms-input-placeholder { color: #c8c8c8; }  /* Internet Explorer 10-11 */
            .form-control::-ms-input-placeholder { color: #c8c8c8; }  /* Microsoft Edge */
            ul:first-child {
                color: #fff;
            }
            #settingsForm > ul > li:nth-child(1) > a {
                line-height: 2;
                font-size: xx-large;
            }
            #settingsForm > ul > li > a {
                color: #fff;
            }
            .menu {
                min-width: 400px;
            }
        </style>
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2 min-vh-100 bg-dark pt-3 menu">
                    <form id="settingsForm" action="" method="post">
                        <input type="hidden" id="hidden-reload" name="forceReload" value="" />
                        <ul class="nav flex-column flex-nowrap overflow-hidden">

                            <li class="nav-item">
                                <a class="navbar-link" href="/">BlisstributeTwigToolkit</a>
                            </li>

                            <li class="nav-item">
                                <a class="navbar-link" target="_blank" href="https://github.com/exitbgmbh/BlisstributeTwigToolkit">v0.1 &copy;{{ year }} exitB GmbH</a>
                            </li>

                            <li class="nav-item mt-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="kind">Art</label>
                                    </div>
                                    <select class="custom-select d-block w-10" id="kind" name="kind" required>
                                        {% for value, display in kinds %}
                                            <option value="{{ value }}" {% if value is same as(kind) %} selected="selected" {% endif %}>{{ display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </li>

                            <li class="nav-item mt-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="type">Typ</label>
                                    </div>
                                    <select class="custom-select d-block w-10" id="type" name="type" required>
                                        {% for kind, templateTypes in types %}
                                            {% for templateType in templateTypes %}
                                                <option value="{{ templateType.renderer }}" {% if templateType.renderer is same as(type) %} selected="selected" {% endif %}>{{ templateType.name }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </li>

                            <li class="nav-item mt-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="template">Template</label>
                                    </div>
                                    <input placeholder="default_invoice.html" type="text" class="form-control" id="template" name="template" aria-label="templates" aria-describedby="ig-template-label" required {% if template is defined and template is not null %} value="{{ template }}" {% endif %} />
                                </div>
                            </li>

                            <li class="nav-item mt-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="identifiers">Identifikation</label>
                                    </div>
                                    <input type="text" placeholder="EXB202012323" class="form-control" id="identifiers" name="identifiers" aria-label="identifiers" aria-describedby="ig-identifiers-label" required {% if identifiers is defined and identifiers is not null %} value="{{ identifiers }}" {% endif %} />
                                </div>
                            </li>

                            <li class="nav-item mt-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="advertisingMediumCode">Werbemittel</label>
                                    </div>
                                    <input type="text" placeholder="EXB" class="form-control" id="advertisingMediumCode" name="advertisingMediumCode" aria-label="advertising-medium" aria-describedby="ig-advertising-medium-label" {% if advertisingMediumCode is defined and advertisingMediumCode is not null %} value="{{ advertisingMediumCode }}" {% endif %} />
                                </div>
                            </li>

                            {% if languages is defined and languages is not empty %}
                                <li class="nav-item mt-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="language">Sprache</label>
                                        </div>
                                        <select class="custom-select d-block w-10" id="language" name="language">
                                            <option value="">Bitte wählen</option>
                                            {% for language in languages %}
                                                <option value="{{ language.isoCode }}" {% if selectedLanguage is same as(language.isoCode) %} selected="selected" {% endif %}>{{ language.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>
                            {% endif %}

                            <li class="nav-item mt-3">
                                <button class="btn btn-info btn-sm btn-block" type="button" onclick="submitForm(false)">Erzeugen</button>
                            </li>

                            <li class="nav-item mt-3">
                                <button class="btn btn-light btn-sm btn-block" type="button" onclick="submitForm(true)">Cache leeren</button>
                            </li>

                        </ul>
                    </form>
                </div>
                <div class="col min-vh-100 pl-0 pr-0">
                    {% if iframeSrc is defined and iframeSrc is not empty and errors is defined and errors is empty %}
                        <iframe src="{{ iframeSrc }}">
                        </iframe>
                    {% endif %}
                    {% if errors is defined and errors is not empty %}
                        <div class="container">
                            {{ errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <script>
            const submitForm = (forceReload = false) => {
                const form = document.getElementById('settingsForm');
                document.getElementById('hidden-reload').value = forceReload;

                if (form.checkValidity()) {
                    form.submit();
                } else {
                    form.reportValidity();
                }
            }

            const showTypes = () => {
                const kindElement = document.getElementById('kind');
                let typesElement = document.getElementById('type');
                typesElement.length = 0;

                types[kindElement.value].forEach(function(item, index) {
                    let option = document.createElement('option');
                    option.value = item.renderer;
                    option.innerHTML = item.name;

                    if (type === item.renderer) {
                        option.selected = true;
                    }

                    typesElement.appendChild(option);
                });
            }

            const types = {{ types|raw }};
            const type = '{{ type }}';

            document.getElementById('kind').addEventListener('change', showTypes);

            (function() {
                showTypes();
            })();
        </script>
    </body>
</html>